{%- include common/rest/site_pages.liquid -%}

<div class="addons-wrap d-flex flex-column overflow-y-auto">
    <div class="status d-flex flex-justify-between p-2">
        <div class="title p-1">
            {% comment %} <i class="fa fa-book"></i> {{ site.title }} {% endcomment %}
            <img src="{{ site.baseurl }}/config/assets/images/Icons/icon-96x96.png" width="15" height="15" style="filter: brightness(100%) contrast(100%) grayscale(10%)"> {{ site.title }}
        </div>
        
        <div class="branch p-1">
            {% comment %} <span class="name">
                {{ docs.source.branch }}
            </span> {% endcomment %}
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
    <div class="addons d-flex flex-column height-full p-2 d-none">
        <dl>
            <img src="https://visitor-badge.laobi.icu/badge?page_id=FlorisJ_website&left_color=1d688f&right_color=1d688f&left_text=Visitors%20:" alt="visitors" >
            {% comment %} <a href="https://github.com/robotcopper" aria-label="github" target="_blank" rel="noopener" style="color: #fff">
                <i class="fa fa-github"></i>
            </a> {% endcomment %}

            <hr>

            <div class="generator f6 text-justify">
                Built with
                <a href="https://jekyllrb.com/" rel="noreferrer" target="_blank" title="jekyll }">Jekyll</a>
                , host with
                <a href="https://pages.github.com" rel="noreferrer" target="_blank" title="github-pages v{{ docs.versions.github-pages }}">GitHub Pages</a>
                using a custom theme based on
                <a href="https://github.com/{{ theme_alias | split: '@' | first }}" rel="noreferrer" target="_blank" title="{{ generator }} v{{ version }}"> jekyll-rtd-theme </a>
            </div>

            {% comment %} <dt>{{ __.github | default: "GitHub" }}</dt>
            <dd>
                <a href="{{ docs.repository_url }}" title="{{ __.stars | default: 'Stars' }}: {{ rest.stargazers_count }}">
                    <i class="fa fa-github"></i>
                    {{ __.homepage | default: "Homepage" }}
                </a>
            </dd>
            <dd>
                <a href="{{ docs.issues_url }}" title="{{ __.open_issues | default: 'Open issues' }}: {{ rest.open_issues }}">
                    <i class="fa fa-question-circle-o"></i>
                    {{ __.issues | default: "Issues" }}
                </a>
            </dd> {% endcomment %}

            {% comment %} <dd>
                <a href="{{ docs.zip_url }}" title="{{ __.size | default: 'Size' }}: {{ rest.size }} Kb">
                    <i class="fa fa-download"></i>
                    {{ __.download | default: "Download" }}
                </a>
            </dd> {% endcomment %}

        </dl>
        <hr>
        <div class="license f6 pb-2 text-justify">
            
            This
            <a href="{{ site.baseurl }}/" title="{{ site.title }}">Software</a>
            is under the 
            {% comment %} <a href="{{ docs.repository_url }}">{{ docs.license.name | default: "The Unlicense" }}</a>. {% endcomment %}
            <a href="{{ docs.repository_url }}/blob/{{docs.source.branch}}/LICENSE">{{docs.license.name | default: "BSD 3-Clause" }}</a>
            terms 

        </div>
    </div>
</div>
