<div class="sidebar-wrap overflow-hidden">
    <div class="sidebar height-full overflow-y-scroll overflow-x-hidden">
        <div class="header d-flex flex-column p-3 text-center">
            <div class="title pb-1">
                <a class="h4 no-underline py-1 px-2 rounded-1" href="{{ site.baseurl }}/" title="{{ site.description }}">
                    {% comment %} <i class="fa fa-home"></i> {{ site.title }} {% endcomment %}
                    <img src="{{ site.baseurl }}/config/assets/images/icon-96x96.png" width="16" height="16" style="filter: brightness(100%) contrast(100%) grayscale(10%)"> {{ site.title }}
                </a>
            </div>
            <span class="version">{{ docs.latest_release.name }}</span>
            <form class="search pt-2" action="{{ site.baseurl }}/search.html" method="get" autocomplete="off">
                <input class="form-control input-block input-sm" type="text" name="q" placeholder="{{ __.search_docs | default: 'Searching for something...?' }}">
            </form>
        </div>
        <div class="toctree py-2" data-spy="affix" role="navigation" aria-label="main navigation">
            {% include templates/toctree.liquid %}
        </div>
    </div>
</div>



<style>
    .archive {
        list-style-type: none;
        margin: 0;
        padding: 10px;
    }
    .year {
        margin-top: 20px;
        color: #fff;
    }
    .month {
        margin-left: 20px;
        color: #00AAA3;
    }
    .article {
        margin-left: 40px;
        color: #fff;
    }
    ul {
        list-style-type: square;
    }

</style>




<div class="sidebar-wrap-2 overflow-hidden">
    <div class="sidebar-2 height-full overflow-y-scroll overflow-x-hidden">

        <div class="bouton"></div>

            <button id="toggle2" aria-label="Toggle2 menu" class="btn-octicon-2 m-0 text-white" type="button">
                <i class="fa fa-caret-left"></i>
            </button>

        </div>

    </div>

    <div class="archive overflow-y-scroll">
        <center>
            <h1 style="font-size: 36px; font-weight: bold; color:#fff"> Last news </h1>
        </center>

        {%- assign sorted_pages = site_pages | sort: 'time' | reverse -%}
        {%- assign current_year = "" -%}
        {%- assign current_month = "" -%}
        {%- for page in sorted_pages -%}
            {%- capture page_year -%}
                {{ page.time | date: "%Y" }}
            {%- endcapture -%}
            {%- capture page_month -%}
                {{ page.time | date: "%B" }}
            {%- endcapture -%}
            {%- if page_year != current_year -%}
                {%- unless forloop.first -%}
                    </ul>
                {%- endunless -%}
                <h2 class="year">{{ page_year }}</h2>
                <ul class="months">
                    {%- assign current_year = page_year -%}
                    {%- assign current_month = "" -%}
            {%- endif -%}
            {%- if page_month != current_month -%}
                <h3 class="month">{{ page_month }}</h3>
                <ul class="articles">
                    {%- assign current_month = page_month -%}
            {%- endif -%}
            <li class="article">{{ page.time | date: "%B %d" }} - <a href="{{ page.url }}">{{ page.title }}</a></li>
        {%- endfor -%}
        </ul>
        
    </div>

</div>
